<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GenShelf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>shadowsocks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B20A34791C747283000CCFA3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B250EE281C73054D00198CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B250EE441C73054D00198CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B250EE4F1C73054D00198CDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
